body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#navbarSection{
    display: flex;
    color: white;
    background-color: #22092C;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
li{
   list-style: none;
}
/* navbar end  */
#bannerSection{
    background-image: url(./banner.png);
    height: 90vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

}
#bannerSection h1{
    font-size: 34px;
    position: absolute;
    top:39%;
    background-color: rgba(255, 255, 255, 0.534);
    padding: 15px;
    transform: rotate(270deg);
    box-shadow: 0 0 20px 0 gray;
}
/* about us start  */
#aboutSection{
    padding: 20px;
}
#aboutSection>h1{
    font-size: 54px;
    color: #872341;
}
#aboutMainDiv{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}
#aboutTextDiv>h1{
    font-size: 44px;
}
#aboutTextDiv>p{
    font-size: 24px;
    text-align: justify;
    line-height: 32px;
}
#aboutTextDiv>button{
    padding: 10px 30px;
    font-size: 16px;
    background-color: #BE3144;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 gray;
}
#aboutTextDiv>button:hover{
    background-color: #8a1f2d; 
    transition: 1s; 
}
#aboutImageDiv>img{
height: 500px;
border: 5px solid #F05941;
border-radius: 50%;
box-shadow: 0 0 20px 0 gray;
}
/* shop section started  */
#shopSection{
    padding: 20px;
}
#shopSection>h1{
    font-size: 54px;
    color: #872341;
}
#shopSectionMainDiv{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.shopSectionCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    box-shadow: 0 0 30px 10px rgb(204, 204, 204);
}
.shopSectionCard:hover{
    transition: .4s ease-in-out;
    background-color: aliceblue;
}
.cardImageDiv>img{
    width: 100%;
}
.cardTextDiv{
    padding: 20px;
}
.cardTextDiv>h3{
    color: #BE3144;
    font-size: 28px;
}
.cardTextDiv>button{
    padding: 10px 30px;
    font-size: 16px;
    background-color: #F05941;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 gray;
}
.cardTextDiv>button:hover{
    background-color: #c33e29; 
    transition: 1s; 
}
/* review section started */
#reviewSection{
    padding: 20px;
}
#reviewSection>h1{
    font-size: 54px;
    color: #872341;
}
#reviewSectionMainDiv{
    display: flex;
    gap: 50px;
}
.reviewSectionCard{
    color: white;
    padding: 30px 10px;
    text-align: center;
    background-color: #872341 ;
}
.reviewSectionCard>img{
    border-radius: 50%;
    height: 150px;
}
.reviewSectionCard>h2{
    color: lemonchiffon;
}